.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:20px 170px;
}
/*The Logo IMG in nav bar top left */

.navbar img{
  
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border-radius: 70px;
   
}
/* The Navigation Menu */
.nav-menu{
    display:flex;
    align-items: center;
    list-style: none;
    gap:60px;
    margin-bottom: 0px;
    font-size:20px;

}
/*THE UNDERLINE IMG in nav bar */
.nav-menu img{
     width: 60px;
    height: 60px;
   padding-top: 1px;
}

.nav-connect{
    padding:10px;
    border-radius: 50px;
    background:linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
}

.anchor-link{
text-decoration:none;
color:white;
}
/* left off here 2:13:24 */